@import url("https://rsms.me/inter/inter.css");


:root {
    /* --primary: rgba(127, 255, 212, 0.6); */
    /* --primary: burlywood; */
    /* --primary: lavenderblush; */
    --primary: mistyrose;
    /* --header: darksalmon; */
    --header: beige;

  /* --fg: #eee; */
  --fg: beige;
  --bg: #303030;
  --header-bg: #22272e;
  --page-bg: #22272e;
  --grid-bg: #1c2128;
  --code-bg: #2e2a31;
  --border-color: #333;
  --link-color: var(--primary);
  --backlink-color: rgba(127, 255, 212, 0.6);
  --active-link-background-color: #444;
  --shadow-color: rgba(0, 0, 0, 0.2);}



html,
body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-flow: column;
  background: var(--bg);
  line-height: 1.4;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--fg);
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: var(--header);
}

h1 {
  margin-bottom: 16px;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
}

h4 {
  font-size: 1.3em;
  font-weight: 400;
}

p {
  font-size: 1.2em;
  font-weight: 400;
}

/* h1:before, */
h2:before {
  content: '■ ';
    position: relative;
    bottom: .1em;
    /* color: #666; */
    color: var(--header);
}


h3:before {
  content:  ' ▶ ';
    position: relative;
    bottom: .1em;
    /* left: 1.0em; */
    /* right: 1.0em; */
    margin-left: 0.3em;
    margin-right: 0.3em;
    /* color: #666; */
    color: var(--header);
    font-size: 0.6em;
}

h4:before {
  content:  ' ●';
    position: relative;
    bottom: .1em;
    /* left: 1.0em; */
    /* right: 1.0em; */
    margin-left: 0.4em;
    margin-right: 0.4em;
    /* color: #666; */
    color: var(--header);
    font-size: 0.8em;
}

p {
  margin-bottom: 1em;
}

header {
  display: flex;
  align-items: center;
  background: var(-header--bg);
  border-bottom: 1px #ccc solid;
  padding: 2px;
}

.site-title {
  padding: 0;
  margin: 0;
}

#logo {
  display: inline-block;
  margin: 5px;
}

#logo svg {
  width: 30px;
  height: 30px;
}

.grid-container {
  flex: 1;
  display: flex;
  overflow-x: auto !important;
  white-space: nowrap;
  flex-grow: 1;
}

.grid {
  max-width: 100%;
  flex-grow: 1;
}

.page {
  white-space: normal;
  background: var(--bg);
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  display: inline-block;
  width: 100%;
  max-width: 700px;
  height: 100% !important;
  max-height: 100%;
  overflow-y: auto;
  vertical-align: top;
  box-sizing: border-box;
}

.wide {
  max-width: 1250px;
}

.page:last-child {
  margin-right: 15px;
}


.content {
  padding: 50px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--link-color);
}

a.active {
    background-color: rgba(10, 132, 255, 0.15);
}

a:hover {
  opacity: 0.5;
}

blockquote {
  margin-left: 1rem;
  font-style: italic;
  font-family: Georgia, bitstream charter, serif;
  border-left: 3px solid;
  border-left-color: currentcolor;
  border-color: var(--text-color);
  padding-left: 1em;
}

pre {
  overflow: auto;
  padding: 1em;
  margin: 1em auto;
}

img {
  max-width: 100%;
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

iframe {
  overflow: hidden;
  overflow-y: hidden;
  border: none;

}

.tippy-box > .tippy-arrow:before {
  transform: scale(2);
}

.bl-section {
  padding: 2em 1em;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.125),
      rgba(0, 0, 0, 0.25)
    )
    no-repeat 50% 1em / 100% 1px;
}

.backlinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.bl-section h4 {
  color: #aaa;
  margin-top: 0;
}

.backlinks a {
  flex: 100%;
  color: var(--backlink-color);
}

dl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 1em 0;
}
dl > * {
  padding-top: 0.5em;
}

dt {
  width: 30%;
  font-weight: bold;
  text-align: right;
}
dd {
  width: 60%;
  padding-left: 1em;
  margin-left: 0px;
}
dd + dd {
  width: 100%;
  padding-left: calc(30% + 1em);
}
dt + dt {
  padding-right: 60%;
}
dt + dt + dd {
  margin-top: -1.625em; /* own height including padding */
  padding-left: calc(30% + 1em);
}

#search {
  margin-left: 5px;
}

.search-extract {
  margin-left: 10px;
  color: #aaa;
}

.search-extract::before {
  content: " :: ";
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  header {
    border-right-width: 0;
    border-bottom-width: 1px;
    padding: 10px 30px;
  }

  #logo {
    margin: 0;
  }

  #logo svg {
    width: 30px;
    height: 30px;
  }

  header > * {
    display: inline-block;
    margin-right: 10px;
  }

  .grid-container {
    padding: 0;
  }

  .page {
    padding-bottom: 150px;
  }

  .search-extract {
    display: none;
  }
}





















@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/LM-regular.woff2') format('woff2'),
    url('./fonts/LM-regular.woff') format('woff'),
    url('./fonts/LM-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/LM-italic.woff2') format('woff2'),
    url('./fonts/LM-italic.woff') format('woff'),
    url('./fonts/LM-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/LM-bold.woff2') format('woff2'),
    url('./fonts/LM-bold.woff') format('woff'),
    url('./fonts/LM-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/LM-bold-italic.woff2') format('woff2'),
    url('./fonts/LM-bold-italic.woff') format('woff'),
    url('./fonts/LM-bold-italic.ttf') format('truetype');
}



/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}



/* Add smooth scrolling to anchors */
html {
  scroll-behavior: smooth;
}

body.libertinus {
  font-family: 'Libertinus', Georgia, Cambria, 'Times New Roman', Times, serif;
}

body {
  font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif;
  line-height: 1.8;
  /* line-height: 1.5; */

  /* max-width: 90ch; */
  /* min-height: 100vh; */
  overflow-x: hidden;
  margin: 0 auto;
  padding: 2rem 1.25rem;

  counter-reset: theorem;
  counter-reset: definition;
  counter-reset: sidenote-counter;

  /* color: hsl(0, 5%, 10%); */
  /* background-color: hsl(210, 20%, 98%); */

  text-rendering: optimizeLegibility;
}


/* Justify and hyphenate all paragraphs */
p {  
  text-align: justify;
  hyphens: auto;
  margin-top: 1rem;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}


/* Make images easier to work with */
img {
  max-width: 100%;
  height: auto;
  display: block;
}


/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* Prevent textarea from overflowing */
textarea {
  width: 100%;
}



/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Styles for inline code or code snippets */
code,
pre,
kbd {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  font-size: 85%;
}



pre {
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
  border-radius: 4px;
  background: hsl(210, 28%, 93%);
}
pre code {
  font-size: 95%;
  position: relative;
}
kbd {
  background: hsl(210, 5%, 100%);
  border: 1px solid hsl(210, 5%, 70%);
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 75%;
}


/* Better tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  max-width: 100%;
  border-top: 2.27px solid black;
  border-bottom: 2.27px solid black;
  /* display: block; */
  overflow-x: auto; /* does not work because element is not block */
  /* white-space: nowrap; */
  counter-increment: caption;
}
/* add bottom border on column table headings  */
table tr > th[scope='col'] {
  border-bottom: 1.36px solid black;
}
/* add right border on row table headings  */
table tr > th[scope='row'] {
  border-right: 1.36px solid black;
}
table > tbody > tr:first-child > td,
table > tbody > tr:first-child > th {
  border-top: 1.36px solid black;
}
table > tbody > tr:last-child > td,
table > tbody > tr:last-child > th {
  border-bottom: 1.36px solid black;
}


th,
td {
  text-align: left;
  padding: 0.5rem;
  line-height: 1.1;
}


/* Table caption */
caption {
  text-align: left;
  font-size: 0.923em;
  /* border-bottom: 2pt solid #000; */
  padding: 0 0.25em 0.25em;
  width: 100%;
  margin-left: 0;
}

caption::before {
  content: 'Table ' counter(caption) '. ';
  font-weight: bold;
}


/* allow scroll on the x-axis */
.scroll-wrapper {
  overflow-x: auto;
}

/* if a table is wrapped in a scroll wrapper,
  the table cells shouldn't wrap */
.scroll-wrapper > table td {
  white-space: nowrap;
}



/* Center align the title */
h1:first-child {
  text-align: center;
}



/* Nested ordered list for ToC */
nav ol {
  counter-reset: item;
  padding-left: 2rem;
}
nav li {
  display: block;
}
nav li:before {
  content: counters(item, '.') ' ';
  counter-increment: item;
  padding-right: 0.85rem;
}


/* Center definitions (most useful for display equations) */
dl dd {
  text-align: center;
}


/* Theorem */
.theorem {
  counter-increment: theorem;
  display: block;
  margin: 12px 0;
  font-style: italic;
}
.theorem::before {
  content: 'Theorem ' counter(theorem) '. ';
  font-weight: bold;
  font-style: normal;
}

/* Lemma */
.lemma {
  counter-increment: theorem;
  display: block;
  margin: 12px 0;
  font-style: italic;
}
.lemma::before {
  content: 'Lemma ' counter(theorem) '. ';
  font-weight: bold;
  font-style: normal;
}

/* Proof */
.proof {
  display: block;
  margin: 12px 0;
  font-style: normal;
  position: relative;
}
.proof::before {
  content: 'Proof. ' attr(title);
  font-style: italic;
}
.proof:after {
  content: '◾️';
  position: absolute;
  right: -12px;
  bottom: -2px;
}

/* Definition */
.definition {
  counter-increment: definition;
  display: block;
  margin: 12px 0;
  font-style: normal;
}
.definition::before {
  content: 'Definition ' counter(definition) '. ';
  font-weight: bold;
  font-style: normal;
}


/* Center align author name, use small caps and add vertical spacing  */
.author {
  margin: 0.85rem 0;
  font-variant-caps: small-caps;
  text-align: center;
}


/* Sidenotes */

.sidenote {
  font-size: 0.8rem;
  float: right;
  clear: right;
  width: 18vw;
  margin-right: -20vw;
  margin-bottom: 1em;
}

.sidenote.left {
  float: left;
  margin-left: -20vw;
  margin-bottom: 1em;
}

/* (WIP) add border when a sidenote is clicked on */
.sidenote:target {
  border: hsl(55, 55%, 70%) 1.5px solid;
  padding: 0 .5rem;
  scroll-margin-block-start: 10rem;
}

/* sidenote counter */
.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number::after,
.sidenote::before {
  position: relative;
  vertical-align: baseline;
}

/* add number in main content */
.sidenote-number::after {
  content: counter(sidenote-counter);
  font-size: 0.7rem;
  top: -0.5rem;
  left: 0.1rem;
}

/* add number in front of the sidenote */
.sidenote-number ~ .sidenote::before {
  content: counter(sidenote-counter) ' ';
  font-size: 0.7rem;
  top: -0.5rem;
}

label.sidenote-toggle:not(.sidenote-number) {
  display: none;
}

/* sidenotes inside blockquotes are indented more */
blockquote .sidenote {
  margin-right: -24vw;
  width: 18vw;
}


label.sidenote-toggle {
  display: inline;
  cursor: pointer;
}

input.sidenote-toggle {
  display: none;
}

@media (max-width: 1050px) {
  label.sidenote-toggle:not(.sidenote-number) {
    display: inline;
  }
  .sidenote {
    display: none;
  }
  .sidenote-toggle:checked + .sidenote {
    display: block;
    margin: 0.5rem 1.25rem 1rem 0.5rem;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
  }
  /* tweak indentation of sidenote inside a blockquote */
  blockquote .sidenote {
    margin-right: -25vw;
    width: 16vw;
  }
}



/* Make footnote text smaller and left align it (looks bad with long URLs) */
.footnotes p {
  text-align: left;
  line-height: 1.5;
  font-size: 85%;
  margin-bottom: 0.4rem;
}
.footnotes {
  border-top: 1px solid hsl(0, 0%, 39%);
}



/* Center title and paragraph */
.abstract,
.abstract p {
  text-align: center;
}
.abstract {
  margin: 2.25rem 0;
}


/* Format the LaTeX symbol correctly (a higher up, e lower) */
.latex span:nth-child(1) {
  text-transform: uppercase;
  font-size: 0.75em;
  vertical-align: 0.28em;
  margin-left: -0.48em;
  margin-right: -0.15em;
  line-height: 1ex;
}

.latex span:nth-child(2) {
  text-transform: uppercase;
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
  line-height: 1ex;
}



/* Heading typography */
h1 {
  /* font-size: 2.5rem; */
  line-height: 3.25rem;
  margin-bottom: 1.625rem;
}

h2 {
  /* font-size: 1.7rem; */
  line-height: 2rem;
  margin-top: 3rem;
}

h3 {
  /* font-size: 1.4rem; */
  margin-top: 2.5rem;
}

h4 {
  /* font-size: 1.2rem; */
  margin-top: 2rem;
}

h5 {
  /* font-size: 1rem; */
  margin-top: 1.8rem;
}

h6 {
  /* font-size: 1rem; */
  font-style: italic;
  font-weight: normal;
  margin-top: 2.5rem;
}

h3,
h4,
h5,
h6 {
  line-height: 1.625rem;
}

h1 + h2 {
  margin-top: 1.625rem;
}

h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: 0.8rem;
}

h5 + h6 {
  margin-top: -0.8rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.8rem;
}











/* DARK MODE */


/* html, body { */
/* /\* color: #dcdcdc; *\/ */
/* /\* background-color: #292929; *\/ */
/* } */

/* html *:not(input) *:not(span) { */
/* color: #dcdcdc !important; */
/* } */

/* a[ping]:link, */
/* :link:not(cite) { */
/* color: var(--primary) !important; */
/* } */

/* html a:visited { */
/* color: var(--primary) !important; */
/* } */

/* html cite, */
/* html cite a:link, */
/* html cite a:visited { */
/* color: #92de92 !important; */
/* } */


/* inline styles */
[style*='background: #'], [style*='background:#'],
[style*='background: rgb'], [style*='background:rgb'],
[style*='background: var('], [style*='background:var('],
[style*='background-color: #'], [style*='background-color:#'],
[style*='background-color: rgb'], [style*='background-color:rgb'],
[style*='background-color: var('], [style*='background-color:var('] {
background-color: var(--bg) !important;
}



pre {
margin: 0;
background: #414040 !important;
}
pre code {
font-size: 95%;
position: relative;
}



/* Better tables */
table {
border-collapse: collapse;
border-spacing: 0;
width: auto;
max-width: 100%;
border-top: 2.27px solid white;
border-bottom: 2.27px solid white;
/* display: block; */
overflow-x: auto; /* does not work because element is not block */
/* white-space: nowrap; */
counter-increment: caption;
}
/* add bottom border on column table headings  */
table tr > th[scope='col'] {
border-bottom: 1.36px solid white;
}
/* add right border on row table headings  */
table tr > th[scope='row'] {
border-right: 1.36px solid white;
}
table > tbody > tr:first-child > td,
table > tbody > tr:first-child > th {
border-top: 1.36px solid white;
}
table > tbody > tr:last-child > td,
table > tbody > tr:last-child > th {
border-bottom: 1.36px solid white;
}



/* frame of the code block */
div.highlight {
border: 1px solid;
border-radius: 4px;
}

/* Styles for inline code or code snippets */
kbd {
background: #292929;
border: 1px solid hsl(210, 5%, 70%);
border-radius: 2px;
padding: 2px 4px;
font-size: 75%;
}

mark {
background-color: rgb(97, 96, 96) !important;
}










/* Main do HugoTex */

footer .theme-by {
  text-align: center;
  margin: 100px 0 0;
}

.pager {
  list-style: none;
  text-align: center;
  margin: 20px 0 0;
  padding-left: 0;
}

.pager ul {
  display: block;
}

.pager .previous > a {
  margin: 20px 0 0;
  float: left;
  display: block;
}

.pager .next > a {
  margin: 20px 0 0;
  float: right;
  display: block;
}




